




.svgImport {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2.5rem 1.25rem;
    padding: 1rem 2rem;
    border: 1px dashed #dfdfdf;
    border-radius: 0.5rem;
    position: relative;
    font-family: "K2D", sans-serif;
}
.svgImport input {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: stretch;
    opacity: 0;
    cursor: pointer;
}
.svgImport span {
    color: #a7a7a7;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}

/* Setup Menu */
.contextMenu {
    position: absolute;
    background-color: #EBEBEB;
    border: 1px solid #dfdfdf;
    min-width: 12rem;
}
.contextMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.contextMenu ul li {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.3rem 1rem;
    border-bottom: 1px solid #ffffff;
    font-size: 14px;
    font-weight: 500;
    transition: 0.5s all ease;
}
.contextMenu ul li:hover {
    cursor: pointer;
}
.contextMenu ul li > ul {
    transform: translatex(100%) scale(0);
    background-color: #EBEBEB;
    border: 1px solid #dfdfdf;
}
.contextMenu ul li:hover > ul {
    transform: translatex(101%) scale(1);
}
.contextMenu ul li > button svg {
    transform: rotate(-90deg);
}
.contextMenu ul li:hover > button svg {
    transform: rotate(-270deg);
}


select#color {
    /* height: 100%; */
    border: 1px solid #dfdfdf;
    background-color: #ffffff;
    color: #394174;
    padding: 3px 55px 3px 8px;
    font-size: 13px;
    font-weight: 800;
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 29 17' width='29' height='17' %3e%3cpath d='M28.1901 1.04331C27.9155 0.733416 27.5841 0.48208 27.2147 0.30367C26.8454 0.125259 26.4454 0.0232723 26.0376 0.00353984C25.6298 -0.0161926 25.2222 0.0467158 24.8382 0.188669C24.4541 0.330623 24.101 0.548837 23.7992 0.830839L14.4997 9.49966L5.20015 0.830839C4.59042 0.261695 3.78527 -0.0356609 2.96182 0.00418522C2.13837 0.0440313 1.36408 0.417815 0.809277 1.04331C0.254476 1.6688 -0.0353863 2.49477 0.00345563 3.33951C0.0422975 4.18425 0.406662 4.97856 1.01639 5.5477L12.4285 16.1925C12.996 16.7182 13.7351 17.0063 14.4997 16.9999C15.2625 16.9963 15.9982 16.7095 16.5709 16.1925L27.983 5.5477C28.2851 5.266 28.5301 4.92599 28.704 4.5471C28.8779 4.16821 28.9773 3.75787 28.9965 3.33954C29.0158 2.92121 28.9545 2.50309 28.8161 2.10909C28.6777 1.71509 28.465 1.35293 28.1901 1.04331Z' style='fill:%231C274C'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size:  10px;
    background-position: right 8px top 50%, 0 0;
    cursor: pointer;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13), 0 1px 1px 0 rgba(0, 0, 0, .11); */
}
select#color:focus {
    outline: none;
}

