/* ------------------------- navbar ------------------------- */
.navbar .navDiv {
    /* border-bottom: 2px solid #1c7f969c; */
    background-color: #FCFCFF;
    padding-inline: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    transition: 0.5s all ease;
}
.navbar .navDiv h3 {
    font-family: "Merriweather Sans", sans-serif;
    /* font-size: 2vw; */
    line-height: 36px;
    letter-spacing: .2em;
    text-align: left;
}
.navbar .navDiv h3 span {
    font-family: "Julee", cursive;;
    color: #1c8096;
    /* font-size: 2.5vw; */
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}
.navbar .navDiv .buttonGroup {
    /* box-shadow: inset -1px 2px 2px 0px #00000025; */
    background-color: #DFDFDF;
    border: 1px solid #EDEDED;
    border-radius: 5rem;
}
.navbar .navDiv .buttonGroup button {
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    line-height: normal;
    letter-spacing: 0em;
    text-align: center;
    font-size: 0.6rem;
    color: #1C274C;
    height: fit-content;
    min-width: 4rem;
    padding: 0.3rem 1rem;
    margin-block: .3rem;
}
.navbar .navDiv .buttonGroup button.active {
    /* background-color: #1c8096; */
    color: white;
    border-radius: 5rem;
    box-shadow: 2px 2px 3px 0px #00000025;
}


/*  Tob Bar */
.topBar {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    border: 1px solid;
    border-radius: 0.5rem;
    border-color: #1c809681;
    background-color: white;
    padding: 0.3rem 0.7rem;
}
.topBar .svgImport {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1px 5px;
    height: fit-content;
    /* border: 1px dashed #dfdfdf; */
    border-radius: 0.5rem;
    position: relative;
    font-family: "K2D", sans-serif;
}
.topBar .svgImport input {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: stretch;
    opacity: 0;
    cursor: pointer;
}
.topBar .svgImport p{
    padding: 0rem 0.5rem;
}

.topBar select {
    background: white;
    border: 1px dashed #c4c4c4;
    border-radius: 999px;
    color: #394174;
    padding: 1px 35px 1px 8px;
    font-size: 13px;
    font-weight: 800;
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="gray" d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0px top 50%, 0 0;
    cursor: pointer;
}
.topBar select:focus {
    outline: none;
}


.topBar .input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: rgb(87, 87, 87);
}
.topBar .input input {
    max-width: 4rem;
    border: 1px dashed rgba(0, 0, 0, 0.164);
    /* border-radius: 0.4rem; */
    padding-inline: 5px;
    transition: 0.5s all;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #141d3b;
}
.topBar .input input::-webkit-inner-spin-button, 
.topBar .input input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: none;
}
.topBar .input input:focus {
    outline: none;
    border: 1px solid #1c809681;
}